.bio-pics {
    height: 200px;
    width: 200px;
  }
  
  section {
    display: block;
  }
  
  .bg-about {
    background-color: rgb(113, 26, 144, 0.95);
    margin-top: 50px;
  }
  
  .sections {
    margin: -20px 20px 20px -20px;
  }
  
  