.bio-pics {
  height: 200px;
  width: 200px;
}

section {
  height: 250px;
}

.hello {
  margin: 50px auto 100px auto;
}

.intro {
  font-size: 24px;
}

.next {
  cursor: pointer;
}

.prev {
  cursor: pointer;
}

.arrow {
  font-size: 36px;
  margin: 100px 10px 0px 10px;
}

.background {
  text-align: center;
  display: none;
}

.ease-right {
  float: left;
  animation-name: ease-right;
  animation-timing-function: ease;
  animation-duration: 2s;
}

@keyframes ease-right {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

.ease-left {
  float: right;
  animation-name: ease-left;
  animation-timing-function: ease;
  animation-duration: 2s;
}

@keyframes ease-left {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
