/* .header {
    font-size: 60px;
    overflow: hidden;
    border-right: .15em black;
    white-space: nowrap;
    margin: 0;
    animation:
    typing 1.75s steps(60, end),
    blink-caret 1s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
} */