.hello {
  width: 425px;
  margin: -50px auto 0px auto;
}

.bg-hello {
  background-color: rgb(22, 103, 195, 0.95);
}

.biopic {
  margin: 0px 0px 0px -150px;
}

.intro {
  margin: 100px -25px 0px 0px;
  font-size: 30px;
  font-weight: 300;
  animation: fadeIn 2s;
}

.bg-intro {
  background-color: rgb(22, 103, 195, 0.66);
  margin-top: 50px;
}

.learnMore {
  margin: 0px auto -50px auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.next {
  cursor: pointer;
}

.arrow {
  font-size: 36px;
}

.helloText {
  display: inline-block;
  font-size: 60px;
  font-family: "Sanchez", serif;
  overflow: hidden;
  border-right: solid;
  white-space: nowrap;
  margin: 0px;
  animation: typing 0.5s steps(120, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
