.stack {
  margin: 125px 0px 100px 375px;
  font-family: "Sanchez", serif;
}

.contact {
  border-radius: 30px;
  background: linear-gradient(
    145deg,
    rgb(22, 103, 195),
    rgb(113, 26, 144),
    rgb(227, 31, 13),
    orange
  );
  background-color:rgb(25, 25, 25);
  border: solid;
  border-width: 0px;
  width: 700px;
  height: 400px;
  margin: -10px 0px 0px 0px;
  animation-name: drop;
  animation-timing-function: ease;
  animation-duration: .4s;
}

.info {
  background-color: #FBFBF9;
  color: rgb(25, 25, 25);
  border-radius: 0px 30px 30px 0px;
  text-align: right;
}
.logo {
  background-color: #FBFBF9;
  border-radius: 0px 200px 200px 0px;
  margin: 25px 0px;
}

.letters {
  font-family: "Sanchez", serif;
  margin: 45px 0px 0px -20px;
  padding: 0px 0px 0px 25px;
  text-shadow: 0.75px 0.75px 0px rgba(25, 25, 25, 0.5);
}

.letter-t {
  color: rgb(25, 25, 25);
  font-size: 125px;
  display: block;
}

.letter-h {
  color: rgb(25, 25, 25);
  font-size: 125px;
  display: block;
  margin: -107.5px 0px 0px 22.5px;
}

.card-name {
  font-family: "Sanchez", serif;
  font-size: 40px;
}

.content {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
}

@keyframes drop {
  0% {
    transform: translateX(-10px) translateY(-10px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
