.stack {
    margin: 100px auto 100px auto;
}

.contact {
    border: solid;
    border-radius: 0px;
    border-width: 3px;
    margin: -7px 7px 7px -7px;
}

.card-1 {
    border: solid;
    border-radius: 0px;
    border-width: 3px;
    margin: -7px 7px 7px -7px;
}

.card-2 {
    border: solid;
    border-radius: 0px;
    border-width: 3px;
    margin: 7px -7px -7px 7px;
}

.contact, .card-1, .card-2 {
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(25, 25, 25, 0.25);
}