  .bg-hello {
    background-color: rgb(22, 103, 195, 0.95);
  }
  
  .biopic {
    margin-left: -50px;
    animation: delay .5s, pop 1s .5s;
  }
  
  .intro {
    margin-right: -25px;
    font-size: 30px;
    font-weight: 300;
    animation: delay 1s, pop 1s 1s;
  }
  
  .bg-intro {
    background-color: rgb(22, 103, 195, 0.66);
    margin-top: 50px;
  }
  
  .learnMore {
    font-family: "Sanchez", serif;
    margin: 0px auto -50px auto;
    animation: delay 1.5s, pop 1s 1.5s;
  }
  
  .next {
    cursor: pointer;
  }
  
  .arrow {
    font-size: 36px;
  }
  