.hello {
    width: 425px;
    margin: -50px auto 0px auto;
    animation: dropDown .3s ease-in-out forwards;
    transform-origin: top center;
  }
  
  .bg-hello {
    background-color: rgb(22, 103, 195, 0.95);
  }
  
  .biopic {
    margin-left: -50px;
    animation: delay .25s, ease-right 1s .25s ease, fadeIn 1s .25s;
  }
  
  .intro {
    margin-right: -25px;
    font-size: 30px;
    font-weight: 300;
    animation: delay .5s, ease-left 1s .5s ease, fadeIn 1s .5s;
  }
  
  .bg-intro {
    background-color: rgb(22, 103, 195, 0.66);
    margin-top: 50px;
  }
  
  .learnMore {
    margin: 0px auto -50px auto;
    animation: delay .75s, fadeIn 1s .75s;
  }
  
  .next {
    cursor: pointer;
  }
  
  .arrow {
    font-size: 36px;
  }
  
  .helloText {
    display: inline-block;
    font-size: 60px;
    font-family: "Sanchez", serif;
    overflow: hidden;
    border-right: solid;
    white-space: nowrap;
    margin: 0px;
    animation: delay .3s, typing .5s .3s steps(120, end), blink-caret 0.75s .3s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 95%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  