.bio-pics {
  height: 200px;
  width: 200px;
}

section {
  height: 250px;
}

.aboutMe {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  display: none;
}

.drop {
  animation: dropDown 350ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes dropDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.ease-right {
  float: left;
  animation-name: ease-right;
  animation-timing-function: ease;
  animation-duration: 2s;
}

@keyframes ease-right {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

.ease-left {
  float: right;
  animation-name: ease-left;
  animation-timing-function: ease;
  animation-duration: 2s;
}

@keyframes ease-left {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
