nav {
    background-color: rgb(37, 37, 38);
    opacity: 98%;
}

.name {
    font-size: 24px;
    font-family: 'Sanchez', serif;
    color: rgb(255, 255, 255);
}

.links {
    font-family: Sanchez, serif;
    font-size: 18px;
}