.name {
  font-size: 50px;
  margin-top: 60px;
  padding: 0px 5px 0px 5px;
  font-family: "Sanchez", serif;
  color: rgb(25, 25, 25, .92);
  background-color: rgba(255, 255, 255, 0.85);
  border: solid;
  border-color: rgb(25, 25, 25, .92);
  letter-spacing: 0.05em;
  cursor: default;
  text-shadow: 0.75px 0.75px 0px rgba(25, 25, 25, 0.5);
}

.initial-t {
  display: block;
}

.initial-h {
  display: block;
  margin: -43px 0px 0px 9px;
}

.nav-link {
  padding: -5px;
}

.links {
  margin-top: 5px;
  font-family: Sanchez, serif;
  font-size: 20px;
}

.link-text {
  color: rgb(25, 25, 25, .95);
  font-weight: bold;
}

.underline {
  margin: 2px auto 0px auto;
  padding: 1.2px;
  opacity: 85%;
}

.u-about {
  background: radial-gradient(circle at 50%, rgb(22, 103, 195), transparent);
}

.u-portfolio {
  background: radial-gradient(circle at 50%, rgb(113, 26, 144), transparent);
}

.u-contact {
  background: radial-gradient(
    circle at 50%,
    rgb(227, 31, 13, 0.95),
    transparent
  );
}

.b-icon {
  color: rgb(22, 103, 195, 0.95);
}

.p-icon {
  color: rgb(113, 26, 144, 0.95);
}

.c-icon {
  color: rgb(227, 31, 13, 0.95);
}

button {
  background: linear-gradient(
    145deg,
    rgb(22, 103, 195, 0.95),
    rgb(113, 26, 144, 0.95),
    rgb(227, 31, 13, 0.95)
  );
}

.menu-btn {
  width: 25px;
  height: 25px;
}
