nav {
  background: linear-gradient(
    15deg,
    rgb(25, 25, 25),
    rgb(25, 25, 25, 0.98),
    rgb(25, 25, 25, 0.99),
    rgba(25, 25, 25, 0.97),
    rgb(25, 25, 25, 0.98),
    rgb(25, 25, 25, 0.96)
  );
  opacity: 98%;
  border: solid;
  border-width: 0px 0px 3px 0px;
  border-color: linear;
}

.name {
  font-size: 24px;
  font-family: "Sanchez", serif;
  color: rgb(255, 255, 255);
  letter-spacing: .06em;
}

.links {
  font-family: Sanchez, serif;
  font-size: 18px;
}

.nav-border {
  width: 100%;
  padding: 2px;
  background: linear-gradient(
    to right,
    rgb(22, 103, 195),
    rgb(113, 26, 144),
    rgb(227, 31, 13)
  );
  opacity: 85%;
}

.b-icon {
  color: rgb(22, 103, 195, 0.95);
}

.p-icon {
  color: rgb(113, 26, 144, 0.95);
}

.c-icon {
  color: rgb(227, 31, 13, 0.95);
}

button {
  background: linear-gradient(
    145deg,
    rgb(22, 103, 195, 0.95),
    rgb(113, 26, 144, 0.95),
    rgb(227, 31, 13, 0.95)
  );
}

.menu-btn {
  width: 25px;
  height: 25px;
  color: white;
}