nav {
  margin-bottom: 75px;
}

.name {
  background-color: #fbfbf9;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(25, 25, 25, 0.92);
  font-family: "Sanchez", serif;
  letter-spacing: 0.05em;
  margin: -40px 0px 0px -5px;
  padding: 10px 5px 10px 5px;
  position: absolute;
}

.divider {
  background-color: rgb(25, 25, 25, 0.92);
  margin: 0px auto 0px auto;
  padding: .5px;
  width: 75%;
}

.first {
  display: block;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.last {
  display: block;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.10em;
  text-align: center;
}

.links {
  font-family: Sanchez, serif;
  font-size: 20px;
  background-color: #fbfbf9;
  color: rgb(25, 25, 25, 0.95);
  font-weight: bold;
}

.underline {
  margin: 2px auto 0px auto;
  padding: 1.2px;
  opacity: 85%;
}

.u-about {
  background: radial-gradient(circle at 50%, rgb(22, 103, 195), transparent);
}

.u-portfolio {
  background: radial-gradient(circle at 50%, rgb(113, 26, 144), transparent);
}

.u-contact {
  background: radial-gradient(
    circle at 50%,
    rgb(227, 31, 13, 0.95),
    transparent
  );
}

.b-icon {
  color: rgb(22, 103, 195, 0.95);
}

.p-icon {
  color: rgb(113, 26, 144, 0.95);
}

.c-icon {
  color: rgb(227, 31, 13, 0.95);
}

.menu-btn {
  width: 65px;
  height: 65px;
}

.homeBtn {
  color: rgb(22, 103, 195, 0.95);
  border: solid;
  border-color: rgb(22, 103, 195, 0.95);
}

.homeBtn:hover {
  color: white;
  border-color: rgb(22, 103, 195, 0.95);
  background-color: rgb(22, 103, 195, 0.95);
}

.portfolioBtn {
  color: rgb(113, 26, 144, 0.95);
  border: solid;
  border-color: rgb(113, 26, 144, 0.95);
}

.portfolioBtn:hover {
  color: white;
  border-color: rgb(113, 26, 144, 0.95);
  background-color: rgb(113, 26, 144, 0.95);
}

.contactBtn {
  color: rgb(227, 31, 13, 0.95);
  border: solid;
  border-color: rgb(227, 31, 13, 0.95);
}

.contactBtn:hover {
  color: white;
  border-color: rgb(227, 31, 13, 0.95);
  background-color: rgb(227, 31, 13, 0.95);
}