footer {
  font-family: "Sanchez", serif;
  font-size: 18px;
  background-color: rgb(37, 37, 38);
  opacity: 98%;
}

.icon {
  height: 20px;
  width: 20px;
}

.icon-fb {
  height: 18px;
  width: 18px;
}

.copywrite {
  color: rgb(255, 255, 255);
}

.footer-border {
  width: 100%;
  padding: 1.5px;
  background: linear-gradient(
    to right,
    rgb(227, 31, 13),
    orange,
    yellow
  );
  opacity: 85%;
}