.basicInfo {
  animation: delay 0.25s, fadeIn 1s 0.25s, slide 1s 0.25s ease;
}

.picDiv {
  animation: delay .5s, fadeIn 1s .5s, picSlide 1s .5s ease;
}

@keyframes picSlide {
  0% {
    transform: translateX(75px) translateY(-75px) rotate(-20deg);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
