.drop {
  animation: dropDown 250ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes dropDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.ease-right {
  animation-name: ease-right;
  animation-timing-function: ease;
  animation-duration: 1s;
}

@keyframes ease-right {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.ease-left {
  animation-name: ease-left;
  animation-timing-function: ease;
  animation-duration: 1s;
}

@keyframes ease-left {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}