body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  width: 95%;
  margin: 50px auto 50px auto;
  background-color: white;
  padding: 75px;
  border-radius: 10px;
}

footer {
  text-align: center;
  bottom: 0;
  height: 75px;
}

.container {
  min-height: 100%;
}
