body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  margin: 0px auto 25px auto;
  border-radius: 10px;
}

h1 {
  text-shadow: .75px .75px rgba(0, 0, 0, 0.25);
}

footer {
  text-align: center;
  bottom: 0;
}

.container-flex {
  min-height: 100%;
  background-color: rgba(112, 128, 144, 0.10);
}

.header {
  display: inline-block;
  font-size: 60px;
  font-family: "Sanchez", serif;
  overflow: hidden;
  border-right: solid;
  /* border-right: .15em black; */
  white-space: nowrap;
  margin: 0px;
  animation: typing .5s steps(120, end), blink-caret 0.75s step-end infinite;
}

.content {
  margin: 75px 0px 50px 0px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
