body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgba(112, 128, 144, 0.10);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  margin: 0px auto 25px auto;
}

h1 {
  text-shadow: .75px .75px rgba(0, 0, 0, 0.25);
}

footer {
  text-align: center;
  bottom: 0;
}

.container-flex {
  min-height: 100%;
  background-color: rgba(112, 128, 144, 0.10);
}

.round {
  border-radius: 30px;
}
